*{margin:0px; padding:0px;}
a{text-decoration:none;}
li{list-style:none;}
body{color:#333;font-family: 'Caveat', cursive;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Sans KR', sans-serif;}
 html, body{overflow-x:hidden;}


@media(min-width:1220px){
    /*header*/
    header{width:4%;height:100vh;text-align:center;position:fixed; left:0px; top:0px;border-right:3px solid #f3f3f3;box-sizing:border-box; z-index:999;background-color: #fff;}
    header .h_1{width:100%;height:100%;position:relative;}
    header h1{width:100%; height:100%;}
    
    header h1 img{width:2.3vw;position:absolute; left:50%;transform:translateX(-50%);top:20px;}
    
    header .h_1 .mu {width:6%;position:absolute;left:50%;transform:translateX(-50%); top:41vw;}
    header .h_1 .mu img{width:2.5vw;position:absolute;left:50%;transform:translateX(-50%);}
    .m_logo{display:none;}
    
    /*메뉴네비바*/
    .wrap{width:100%;height:100%;position:fixed;background:rgba(0,0,0,0.93);z-index: 998; display:none;}
    .nav{position:absolute;top:50%; left:50%; transform:translate(-50%,-50%);position:fixed;z-index: 999;}
    .navi{width:70vw;display:flex; justify-content:space-between; }
    .navi li{width:16vw;text-align:center;}
    .navi li h2{margin-bottom:2vw;font-family: 'EB Garamond', serif;
      color:#fff;font-size:2vw;}
    .navi li p{margin:0.5vw 0px;cursor: pointer;color:rgba(255,255,255,0.3);font-weight:bold;}
    .wrap span{font-size:3.5vw;color:#fff;position:absolute; right:3%; top:5%;cursor: pointer;}

    /*visual*/
    #visual{width:96%; height:47vw; margin-left:4%;position:relative;overflow:hidden;}

    /*slide*/
    .slide{width:100%; height:100%;overflow:hidden;}
    .mainslide{width:500%;height:100%; display:flex; position: absolute;  left: 0px;  top: 0px;}
    .mainslide li{width:20%; height:100%;}
    .mainslide li>img{width:100%; height:100%; object-fit:cover; }

    /*움직이는 텍스트*/
   
      
      h1 {
        height: 50px; display: flex;
        align-items: center;
      }
      
      h1 span {
        position: relative;
        top: 10px;
        display: inline-block;
        animation: bounce 1.3s ease infinite alternate;
        margin-right:1vw;
        font-size: 2.5vw;
        color: #FFF;
        
      }
      
      h1 span:nth-child(2) { animation-delay: .1s; }
      h1 span:nth-child(3) { animation-delay: .2s; }
      h1 span:nth-child(4) { animation-delay: .3s; }
      h1 span:nth-child(5) { animation-delay: .4s; }
      h1 span:nth-child(6) { animation-delay: .5s; }
      h1 span:nth-child(7) { animation-delay: .6s; }
      h1 span:nth-child(8) { animation-delay: .7s; }
      
      @keyframes bounce {
        100% {
          top: -5px;
         
        }
      }


    
    #visual .icon1{position:absolute; right:5%; top:3%;}
    #visual .icon1 img{margin-left:18px;}

    #visual .arrow a:first-child{position:absolute; left:5%; top:50%; transform:translateY(-50%);}
    #visual .arrow a:last-child{position:absolute; right:5%; top:50%; transform:translateY(-50%);}
    #visual .v_text{color:#fff; position:absolute; left:5%; bottom:15%;}
    
    #visual .v_text h5{margin:1vw 0px 30px; font-weight:lighter; font-size:1.2vw}
    #visual .v_text a{color:#222; width:100px; height:36px; background:#fff; border-radius:18px; display:block;text-align:center; line-height:36px;font-size:12px;}

    #visual .icon2{display:flex;position:absolute; right:5%; bottom:5%;}
    #visual .icon2 li a{width:8px; height:8px; border:1px solid #fff; border-radius:50%;font-size:10px; font-weight:bold;color:#fff;margin-left:20px;display:block;}
    #visual .icon2 li a.on{background:#fff;}

    /*container*/
    #container{width:96%; margin-left:4%;}

    #container .con1{text-align:center;padding:100px;}
    #container .con1 p{margin:20px 0px; font-size:14px; color:#444;}
    #container .con1 h4{font-size:22px;}
    
    #container .con1_1{width:95%;display:flex; justify-content:space-between;flex-wrap:wrap;margin:0px auto;padding:20px 0px; box-sizing:border-box;}
    #container .con1_1 li{width:32%;margin-bottom:40px;}
    #container .con1_1 li img{width:100%; margin-bottom:20px;}
    #container .con1_1 li h4{font-weight:400;}
    #container .con1_1 li span{color:#805f4c; font-size:0.7vw; font-weight:bold;}
    #container .con1_1 li p{width:60%; text-align:center;margin:20px auto; font-size:13px;}

    #container .name{text-align:center; margin-bottom:80px;font-size:22px;}

    #container .con2 {display:flex;justify-content:center;position:relative;margin:0px auto;align-items:center;}
    #container .con2 .left{width:45%;text-align:center;}

    .upslide{width:70%; height:20vw; margin:0px auto; overflow:hidden;}
    .upslide2{width:100%; height:60vw;}
    .upslide2 li{width:100%; height:20vw;}
    .upslide2 li a img{width:100%;height:100%;object-fit:contain;margin:0px auto;}
    
    #container .con2 .left .l_text {width:60%; margin:0px auto; text-align:left; position:relative;}
    #container .con2 .left .l_text li{position:absolute;top:0px;left:0px;opacity: 0; transition:3s}
    #container .con2 .left .l_text li.on{opacity: 1;}
    #container .con2 .left .l_text p{line-height:28px;}
    #container .con2 .left .l_text p:first-child{font-weight:bold; color:#805f4c;font-size:16px}
    
    
    #container .con2 .right{width:45%;background:#bfa58e;text-align:center;}
    #container .con2 .right .r_a{width:100%;display:flex;padding:44px 40px 0px;justify-content:space-between;flex-wrap:wrap;box-sizing:border-box;}
    #container .con2 .right .r_a li{width:32%;margin-bottom:10px;background:#7e7e7e;position:relative;overflow: hidden;}
    #container .con2 .right .r_a li img{width:100%; height:100%; object-fit:cover;}
    #container .con2 .right .r_a li img:hover{opacity:0.5;}
    #container .con2 .right .r_text{width:30vw;text-align:left;padding:0px 0px 20px 50px;}
    #container .con2 .right .r_text h3{font-weight:bold; font-size:14px;}
    #container .con2 .right .r_text a{color:#222; font-size:11px;}
    .textbox{width:100%; height:3.5vw;background:rgba(255,255,255,0.8);position:absolute;bottom:-3.5vw;padding:0.6vw; box-sizing: border-box;text-align:left;font-size:0.6vw;}
    .textbox p{margin-top:3px; font-size:0.3vw;}

    #container .con3{width:98%;margin:0px auto;padding-top:100px;}
    #container .con3_1{display:flex;justify-content:space-between;}
    #container .con3_1 li{width:31%; margin:5vw 0vw;}
    #container .con3_1 li .rb{width:28vw; height:26vw; border-radius:10%;margin:30px 0px;overflow: hidden;position:relative;}
    #container .con3_1 li .rb img{width:100%; height:100%;object-fit:cover;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
    #container .con3 .con3_1 li p{width:81%;color:#777;font-size:0.9vw; margin:30px 0px;}
   


    #container .con4{width:96%;display:flex;justify-content:space-between;margin:10vw auto 0px;align-items:center;}
    #container .con4 .con4_1{width:35%; height:500px; background:#bfa48d; color:#333;position:relative;}
    #container .con4 .con4_1 .text{width:70%;margin:0px auto;position:absolute;top:50%; left:50%; transform:translate(-50%,-50%);}
    #container .con4 .con4_1 .text h2{font-size:27px; margin:20px 0px 35px; 
      font-family: 'Eoe_Zno_EB';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_EB.woff') format('woff');
      font-weight: 800;
      font-style: normal;
  }
    #container .con4 .con4_1 .text h4{color:#fff; font-style:italic;}
    #container .con4 .con4_1 .text a{width:83px; height:40px;color:#333; border-bottom:3px solid #333;line-height:40px;display:block; margin-top:50px; font-weight:bold;}
    #container .con4 .sofa{width:60%}
    .sofa img{width:90%;}

    #container .con5{width:96%; height:45vw; margin:12vw auto 0px; background:url(../gg/con5_2.jpg)no-repeat; background-size:cover; background-position:bottom center;position:relative; }
    .con5_back{width:100%; height:100%;background: #918881; opacity: 0.7;padding:2vw 0vw;box-sizing:border-box;position:absolute; top:0px; left:0px;}
    #container .con5 .text_1{width:60vw; text-align:center; margin:0px auto; color:#fff;position:absolute; left:50%;top:50%;transform:translate(-50%, -50%);}

    #container .con5 .text_1 .line{width:1px; height:90px;background:#fff; margin:30px auto;}
    #container .con5 .text_1 h2{font-size:2.6vw;font-weight:400; line-height:4vw}
    #container .con5 .text_1 p{font-size:1vw; line-height:2.1vw;}
    
    #container .con5 .text_1 .con5_1{margin:35px 0px 50px;font-size:1.3vw; font-weight:bold;}
   
    #container .con6{width:90%;text-align:center;margin:150px auto;}
    #container .con6 .con6_1{display:flex; justify-content:space-between;margin-top:60px;}
    #container .con6 .con6_1 li{width:24%;text-align:left;}
    #container .con6 .con6_1 li img{width:100%;}
    #container .con6 .text6 p{margin:20px 0px; font-size:14px; color:#444;}
    #container .con6 .text6 h2{font-size:22px;}
    #container .con6 .con6_1 li h4{margin:30px 0px;}
    #container .con6 .con6_1 li p{font-size:13px; color:#777;}
    
    /*footer*/
    footer{width:96%; margin-left:4%;background:#f3f3f3;padding:60px 0px;}
    footer .text_f{width:90%;display:flex; justify-content:space-between; margin:0px auto;}
    footer .text_f span{font-weight:bold;}
    footer .text_f p{line-height:30px;font-size:14px;}
    footer .text_f h5{font-size:12px; color:#888;margin-bottom:5px;}
    footer .text_f a img{width:20px; margin-top:30px; margin-right:1vw;}
    footer h6{text-align:center; margin:100px 0px 0px;}
}



@media(min-width:768px) and (max-width:1219px){
     /*header*/
     header{width:6%;height:100vh;text-align:center;position:fixed; left:0px; top:0px;border-right:3px solid #f3f3f3;box-sizing:border-box; z-index:999;background-color: #fff;}
     header .h_1{width:100%; height:100%;position:relative;}
     header h1{width:100%; height:100%;}
     
     header h1 img{width:3vw;position:absolute; left:50%;transform:translateX(-50%);top:20px;}
     header .h_1 .mu {width:6%;position:absolute;left:50%;transform:translateX(-50%); top:50vw;}
     header .h_1 .mu img{width:3.5vw;position:absolute;left:50%;transform:translateX(-50%);}
     .m_logo{display:none;}
     
     /*메뉴네비바*/
     .wrap{width:100%;height:100%;position:fixed;background:rgba(0,0,0,0.93);z-index: 998;display:none;}
     .nav{position:absolute;top:50%; left:50%; transform:translate(-50%,-50%);}
     .navi{display:flex; justify-content:space-between; }
     .navi li{width:20vw;text-align:center;}
     .navi li h2{margin-bottom:2vw;font-family: 'EB Garamond', serif; font-size:2.2vw;color:#fff;
       }
     .navi li p{margin:0.5vw 0px;cursor: pointer;font-size:1.4vw;color:rgba(255,255,255,0.3);}
     .wrap span{font-size:3.5vw;color:#fff;position:absolute; right:3%; top:5%;cursor: pointer;}
 
     /*visual*/
     #visual{width:94%; height:60vw; margin-left:6%;position:relative;overflow:hidden;}
 
     /*slide*/
     .slide{width:100%; height:100%;overflow:hidden;}
     .mainslide{width:500%;height:100%; display:flex; position: absolute;  left: 0px;  top: 0px;}
     .mainslide li{width:20%; height:100%;}
     .mainslide li>img{width:100%; height:100%; object-fit:cover; }
 
     /*움직이는 텍스트*/
    
       
       h1 {
         height: 50px; display: flex;
         align-items: center;
       }
       
       h1 span {
         position: relative;
         top: 10px;
         display: inline-block;
         animation: bounce 1.3s ease infinite alternate;
         margin-right:1vw;
         font-size: 2.5vw;
         color: #FFF;
         
       }
       
       h1 span:nth-child(2) { animation-delay: .1s; }
       h1 span:nth-child(3) { animation-delay: .2s; }
       h1 span:nth-child(4) { animation-delay: .3s; }
       h1 span:nth-child(5) { animation-delay: .4s; }
       h1 span:nth-child(6) { animation-delay: .5s; }
       h1 span:nth-child(7) { animation-delay: .6s; }
       h1 span:nth-child(8) { animation-delay: .7s; }
       
       @keyframes bounce {
         100% {
           top: -5px;
          
         }
       }
 
 
     
     #visual .icon1{position:absolute; right:5%; top:3%;}
     #visual .icon1 img{margin-left:18px;}
 
     #visual .arrow a:first-child{position:absolute; left:5%; top:50%; transform:translateY(-50%);}
     #visual .arrow a:last-child{position:absolute; right:5%; top:50%; transform:translateY(-50%);}
     #visual .v_text{color:#fff; position:absolute; left:5%; bottom:15%;}
     
     #visual .v_text h5{margin:1vw 0px 30px; font-weight:lighter; font-size:1.2vw}
     #visual .v_text a{color:#222; width:100px; height:36px; background:#fff; border-radius:18px; display:block;text-align:center; line-height:36px;font-size:12px;}
 
     #visual .icon2{display:flex;position:absolute; right:5%; bottom:5%;}
     #visual .icon2 li a{width:8px; height:8px; border:1px solid #fff; border-radius:50%;font-size:10px; font-weight:bold;color:#fff;margin-left:20px;display:block;}
     #visual .icon2 li a.on{background:#fff;}
 

    /*container*/
    #container{width:94%; margin-left:6%;}

    #container .con1{text-align:center;padding:100px 0px;}
    #container .con1 p{margin:20px 0px; font-size:1.5vw; color:#444;}
    #container .con1 h4{font-size:3vw;}
    
    #container .con1_1{width:94%;display:flex; justify-content:space-between;flex-wrap:wrap;margin:0px auto;padding:20px 0px; box-sizing:border-box;}
    #container .con1_1 li{width:47%;margin-bottom:40px;}
    #container .con1_1 li img{width:100%; margin-bottom:20px;}
    #container .con1_1 li h4{font-weight:400;font-size:2.1vw;}
    #container .con1_1 li span{color:#805f4c; font-weight:bold;font-size:1.1vw;}
    #container .con1_1 li p{width:60%; text-align:center;margin:20px auto; font-size:1.3vw;}

    #container .name{text-align:center; margin-bottom:80px;font-size:3vw;}

    #container .con2 {display:flex;justify-content:center;position:relative;margin:0px auto 10vw;align-items:center;}
    #container .con2 .left{width:45%;text-align:center;}

    .upslide{width:70%; height:20vw; margin:0px auto; overflow:hidden;}
    .upslide2{width:100%; height:60vw;}
    .upslide2 li{width:100%; height:20vw;}
    .upslide2 li a img{width:100%;height:100%;object-fit:contain;margin:0px auto;}
    
    #container .con2 .left .l_text {width:60%; margin:0px auto; text-align:left; position:relative;}
    #container .con2 .left .l_text li{position:absolute;top:0px;left:0px;opacity: 0; transition:3s}
    #container .con2 .left .l_text li.on{opacity: 1;}
    #container .con2 .left .l_text p{line-height:28px;}
    #container .con2 .left .l_text p:first-child{font-weight:bold; color:#805f4c;font-size:16px}
    
    
    #container .con2 .right{width:45%;background:#bfa58e;text-align:center;}
    #container .con2 .right .r_a{width:100%;display:flex;padding:44px 40px 0px;justify-content:space-between;flex-wrap:wrap;box-sizing:border-box;}
    #container .con2 .right .r_a li{width:32%;margin-bottom:10px;background:#7e7e7e;position:relative;overflow: hidden;}
    #container .con2 .right .r_a li img{width:100%; height:100%; object-fit:cover;}
    #container .con2 .right .r_a li img:hover{opacity:0.5;}
    #container .con2 .right .r_text{width:30vw;text-align:left;padding:0px 0px 20px 40px;}
    #container .con2 .right .r_text h3{font-weight:bold; font-size:14px;}
    #container .con2 .right .r_text a{color:#222; font-size:11px;}
    .textbox{width:100%; height:3.5vw;background:rgba(255,255,255,0.8);position:absolute;bottom:-3.5vw;padding:0.6vw; box-sizing: border-box;text-align:left;font-size:0.6vw;}
    .textbox p{margin-top:3px; font-size:0.3vw;}


    #container .con3{width:80%;margin:0px auto;padding-top:100px;}
    #container .con3_1 li{margin-bottom:15%;}
    #container .con3_1 li:nth-of-type(1){width:60%;}
    #container .con3_1 li:nth-of-type(2){width:60%;text-align:right;margin-left:40%;}
    #container .con3_1 li:nth-of-type(3){width:60%;}
    #container .con3_1 li .rb{width:40vw; height:38vw; border-radius:10%;margin:30px 0px;overflow: hidden;position:relative;}
    #container .con3_1 li .rb img{width:100%; height:100%;object-fit:cover;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
    #container .con3 .con3_1 li .b_logo img{width:10%;}
    #container .con3 .con3_1 li p{width:100%;color:#777;font-size:1.4vw; margin:30px 0px;}


    
    #container .con4{width:100%;margin:10vw auto 0px;display:flex;flex-wrap:wrap;align-items:flex-start;}
    #container .con4 .con4_1{width:100%; height:38vw; background:#bfa48d; color:#333;position:relative;}
    #container .con4 .con4_1 .text{width:70%;margin:0px auto;position:absolute;top:40%; left:50%; transform:translate(-50%,-40%);text-align:center;font-size:1.6vw;}
    #container .con4 .con4_1 .text h2{font-size:27px; margin:20px 0px 2vw; 
      font-family: 'Eoe_Zno_EB';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_EB.woff') format('woff');
      font-weight: 800;
      font-style: normal;
  }
    #container .con4 .con4_1 .text h4{color:#fff; font-style:italic;}
    #container .con4 .con4_1 .text a{width:8vw;height:2vw; border-radius:1vw;margin:0px auto;color:#333; display:block; margin-top:2vw; font-weight:bold;font-size:1vw;background:#fff; line-height:2vw;}
    #container .con4 .sofa{width:100%;height:25vw;position:relative;}
    .sofa img{width:90%;z-index:99;position:absolute; top:-50%; left:50%; transform:translateX(-50%)}

    #container .con5{width:97%; height:55vw; margin:12vw auto 0px; background:url(../gg/con5_2.jpg)no-repeat; background-size:cover; background-position:bottom center;position:relative; padding:2vw 0vw;}
    .con5_back{width:100%; height:100%;background: #918881; opacity: 0.7;box-sizing:border-box;position:absolute; top:0px; left:0px;}
    #container .con5 .text_1{width:90%; text-align:center; margin:0px auto; color:#fff;text-align:left;}
    #container .con5 .text_1 span{position:absolute; bottom:8vw; left:8vw;}

    #container .con5 .text_1 .line{width:1px; top:18vw;height:35vw;background:#fff; position:absolute; left:6vw;}
    #container .con5 .text_1 h2{width:100%;font-size:4vw;font-weight:400; line-height:6vw;position:absolute; top:5vw; left:5vw;}
    #container .con5 .text_1 p{font-size:1.8vw; line-height:3.1vw;position:absolute; top:60%; left:8vw;}
    
    #container .con5 .text_1 .con5_1{position:absolute; top:75%; font-weight:bold;}
   
   
    #container .con6{width:80%;text-align:center;margin:150px auto;}
    #container .con6 .con6_1{margin-top:60px;display:flex;justify-content:space-between;flex-wrap:wrap;}
    #container .con6 .con6_1 li{width:49%;text-align:left;margin-bottom:15%;}
    #container .con6 .con6_1 li img{width:100%;}
    #container .con6 .text6 p{margin:20px 0px; font-size:1.5vw; color:#444;}
    #container .con6 .text6 h2{font-size:3vw;}
    #container .con6 .con6_1 li h4{ font-size:1.9vw;margin:30px 0px;}
    #container .con6 .con6_1 li p{font-size:1.3vw; color:#777;}

     /*footer*/
     footer{width:94%; margin-left:6%;background:#f3f3f3;padding:10% 0px;}
     footer .text_f{width:90%;margin:0px auto;}
     footer .text_f span{font-weight:bold;}
     footer .text_f p{line-height:30px;font-size:1.3vw;}
     footer .text_f h5{font-size:1vw; color:#888;margin-bottom:5px;}
     footer .text_f a img{width:2vw; margin:5vw 5px 8vw;cursor: pointer;}
     footer h6{text-align:center; margin:100px 0px 0px;}

}

@media(max-width:767px){
    /*header*/
    header{width:100%;height:13vw; z-index:999;background-color: #fff;position:fixed;}
    header .h_1{width:100%; height:100%;position:relative; }
    header h1{width:100%; height:100%; }
   .p_logo{display:none;}
   .m_logo{width:100%;position:absolute; }
   .m_logo a img{width:35vw;position:absolute; top:50%; left:50%;transform:translate(-50%,-50%);}
   .mu img{width:6vw;position:absolute; top:50%; right:2.5vw;transform:translateY(-50%);object-fit: cover;}


  
   
    
    
    /*메뉴네비바*/
    .wrap{width:100%;height:100%;position:fixed;background:#000;z-index: 998;display:none;margin-top:13vw;}

    /*모바일 메뉴 슬라이드*/
    
    .nav{
       display:flex;
       justify-content: center;
       align-items: center;
       margin-top:8vw;
      
    }
    .navi{
      width: 90%;
      margin: 10vw auto;
      box-sizing: border-box;
    }
   
    .navi .menu1 h2{
      height: 14vw;
      line-height: 14vw;
      padding-left: 20px;
      font-family: 'EB Garamond', serif;
      color: #fff;
      font-size:7.5vw;
      cursor: pointer;
    }
    
    .navi .menu2{
       display:none;
    }
    .navi .menu2 p{
      color:rgba(255,255,255,0.3);
      font-weight:bold;
      padding:7px 20px;
      box-sizing: border-box;
      font-size:4vw;      
      cursor: pointer;
    }
    .navi .menu2 a:hover{
       color:#fff;
    }
    .wrap span{font-size:7vw;position:absolute; top:5vw; right:3vw;color:#fff;cursor: pointer;}
    



    /*visual*/
    #visual{width:100%; height:88vw; position:relative;overflow:hidden;margin-top:13vw;}

    /*slide*/
    .slide{width:100%; height:88vw;overflow:hidden;}
    .mainslide{width:500%;height:88vw; display:flex; position: absolute;  left: 0px;  top: 0px;}
    .mainslide li{width:20%; height:100%;}
    .mainslide li>img{width:100%; height:100%; object-fit:cover; }

    /*움직이는 텍스트*/
   
      
      h1 {
        height: 20px; display: flex;
        align-items: center;
      }
      
      h1 span {
        position: relative;
        top: 0px;
        display: inline-block;
        animation: bounce 1.3s ease infinite alternate;
        margin-right:1vw;
        font-size: 5vw;
        color: #FFF;
        
      }
      
      h1 span:nth-child(2) { animation-delay: .1s; }
      h1 span:nth-child(3) { animation-delay: .2s; }
      h1 span:nth-child(4) { animation-delay: .3s; }
      h1 span:nth-child(5) { animation-delay: .4s; }
      h1 span:nth-child(6) { animation-delay: .5s; }
      h1 span:nth-child(7) { animation-delay: .6s; }
      h1 span:nth-child(8) { animation-delay: .7s; }
      
      @keyframes bounce {
        100% {
          top: -10px;
         
        }
      }


    
    #visual .icon1{position:absolute; right:5%; top:3%;}
    #visual .icon1 img{width:3vw;margin-left:1.8vw;}
    .arrow{display:none;}
    #visual .arrow a:first-child{position:absolute; left:5%; top:50%; transform:translateY(-50%);}
    #visual .arrow a:last-child{position:absolute; right:5%; top:50%; transform:translateY(-50%);}
    #visual .v_text{color:#fff; position:absolute; left:7%; bottom:20%;}
    
    #visual .v_text h5{width:80%;margin:3vw 0px;font-weight:lighter; font-size:2vw}
    #visual .v_text a{color:#222; width:10vw; height:4vw; background:#fff; border-radius:18px; display:block;text-align:center; line-height:4vw;font-size:2.5vw;}

    #visual .icon2{display:flex;position:absolute; right:5%; bottom:5%;}
    #visual .icon2 li a{width:4px; height:4px; border:1px solid #fff; border-radius:50%;font-size:10px; font-weight:bold;color:#fff;margin-left:1.5vw;display:block;}
    #visual .icon2 li a.on{background:#fff;}

    /*container*/
    #container{width:100%; }

    #container .con1{text-align:center;padding:100px 0px;}
    #container .con1 p{margin:1.6vw 0px; font-size:3vw; color:#444;}
    #container .con1 h4{font-size:5.2vw;}
    
    #container .con1_1{width:90%;margin:0px auto;padding:20px 0px; box-sizing:border-box;display:flex;justify-content:space-between; flex-wrap:Wrap;}
    #container .con1_1 li:nth-of-type(1){width:100%;height:100%;margin:0px auto 2vw;}
    #container .con1_1 li:nth-of-type(2), #container .con1_1 li:nth-of-type(3), #container .con1_1 li:nth-of-type(4), #container .con1_1 li:nth-of-type(2), #container .con1_1 li:nth-of-type(5){width:48%;height:50%;text-align:left;margin-bottom:1.1vw;}

    #container .con1_1 li h4{font-size:3vw;}
    #container .con1_1 li p:nth-of-type(2){display:none;}
    
    #container .con1_1 li:nth-of-type(6){display:none;}

    #container .con1_1 li img{width:100%; height:100%; margin-bottom:20px;object-fit: cover;}
    #container .con1_1 li:nth-of-type(1) h4{font-weight:600;font-size:3.5vw;float: left;}
    #container .con1_1 li:nth-of-type(1) p span{color:#805f4c; font-weight:bold;font-size:2.9vw;display: block;}
    #container .con1_1 li:nth-of-type(1) p{width:65%; text-align:center;margin:0px auto; font-size:2.5vw;float: right;text-align:right; margin-bottom:5vw;display:block}
   

    #container .name{text-align:center; margin-bottom:2.2vw;font-size:5.2vw;}

    #container .con2 {position:relative;margin:0px auto 10vw;align-items:center;}
    #container .con2 .left{width:100%;text-align:center;margin:0px auto;}

    .upslide{width:100%; height:40vw; margin:6vw auto 3vw; overflow:hidden;}
    .upslide2{width:100%; height:100%;}
    .upslide2 li{width:100%; height:40vw;}
    .upslide2 li a img{width:105%;height:100%;object-fit:contain;margin:0px auto;}
    
    #container .con2 .left .l_text {width:100%; height:20vw; margin:0px auto; text-align:center; position:relative;}
    #container .con2 .left .l_text li{width:100%; height:100%;position:absolute;top:50%;left:50%; transform:translate(-50%,-50%);opacity: 0; transition:3s}
    #container .con2 .left .l_text li.on{opacity: 1;}
    #container .con2 .left .l_text p{line-height:4.2vw;font-size:3.5vw;margin-top:2vw;}
    #container .con2 .left .l_text p:first-child{font-weight:bold; color:#805f4c;font-size:4vw;}
    
    
    #container .con2 .right{width:100%;background:#bfa58e;text-align:center;}
    #container .con2 .right .r_a{width:100%;display:flex;padding:44px 20px 0px;justify-content:space-between;flex-wrap:wrap;box-sizing:border-box;}
    #container .con2 .right .r_a li{width:49%;height:45vw;margin-bottom:10px;background:#7e7e7e;position:relative;overflow: hidden;}
    #container .con2 .right .r_a li img{width:100%; height:100%; object-fit:cover;}
   
    #container .con2 .right .r_text{text-align:center;padding:2.2vw 0vw 4vw 0vw;}
    #container .con2 .right .r_text h3{font-weight:bold; font-size:4vw;color:#fff;letter-spacing: 0.2vw; }
    #container .con2 .right .r_text a{width:18vw; height:6vw; background:#fff;color:#222; font-size:2vw;line-height:6vw;margin:20px auto;display:block;font-weight:bold;}
    .textbox{width:100%; height:12vw;background:rgba(255,255,255,0.4);position:absolute;bottom:-0px;padding:1.7vw 0vw 1vw 2vw; box-sizing: border-box;text-align:left;}
    .textbox h4{font-size:2.5vw;}
    .textbox p{margin-top:1vw; font-size:3vw;}

    #container .con3{width:90%;margin:0px auto;padding-top:100px;}
    #container .con3_1 li{margin-bottom:15%;}
    #container .con3_1 li:nth-of-type(1){width:75%;}
    #container .con3_1 li:nth-of-type(2){width:75%;text-align:right;margin-left:25%;}
    #container .con3_1 li:nth-of-type(3){width:75%;}
    #container .con3_1 li .rb{width:100%; height:50vw; border-radius:10%;margin:30px 0px;overflow: hidden;position:relative;}
    #container .con3_1 li .rb img{width:100%; height:100%;object-fit:cover;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
    .two{position:absolute;top:50%; right:0px; transform:translateY(-50%)}
   
    #container .con3 .con3_1 li .b_logo img{width:10%;}
    #container .con3 .con3_1 li p{width:100%;color:#777;font-size:3.2vw; margin:30px 0px;}


    
    #container .con4{width:100%;height:70vw;margin:10vw auto 0px;display:flex;flex-wrap:wrap;align-items:flex-start;}
    #container .con4 .con4_1{width:100%; height:32vw;  color:#333;position:relative;}
    #container .con4 .con4_1 .text{width:100%;text-align:center;font-size:0.5vw;}
    #container .con4 .con4_1 .text p{width:85%;margin:0px auto 4vw;font-size:2.8vw;}
    #container .con4 .con4_1 .text h2{font-size:4vw; margin:1vw 0px 2vw; 
      font-family: 'Eoe_Zno_EB';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_EB.woff') format('woff');
      font-weight: 800;
      font-style: normal;
  }
    #container .con4 .con4_1 .text h4{color:#fff; font-style:italic;font-size:1vw;margin-top:5vw;}
    #container .con4 .con4_1 .text a{width:19vw;height:5vw; background:#bfa48d;border-radius:2.5vw;margin:0px auto;color:#fff; display:block; line-height:5vw;display:block; font-weight:bold;font-size:3vw;}
    #container .con4 .sofa{width:100%;height:35vw;position:relative;}
    .sofa img{width:90%;z-index:99;position:absolute; top:0%; left:50%; transform:translateX(-50%)}

    #container .con5{width:100%; height:70vw; margin:20vw auto 0px; background:url(../gg/bk2.jpg)no-repeat; background-size:cover; background-position:right;position:relative; padding:2vw ;box-sizing:border-box; font-family: 'Noto Sans KR', sans-serif;}
    .con5_back{width:100%;height:100%;box-sizing:border-box;position:absolute; top:0px; left:0px;}
    #container .con5 .text_1{width:100%; text-align:center; margin:0px auto; color:#fff;text-align:center;position:absolute; top:15%; left:50%; transform:translateX(-50%);}
    #container .con5 .text_1 span{display:none;}

    #container .con5 .text_1 .line{width:1px; top:30vw;height:35vw;background:#fff; position:absolute; left:6vw;display:none;}
    #container .con5 .text_1 h2{width:100%;font-size:6vw;font-weight:700; line-height:10vw;margin-bottom:4vw;}
    #container .con5 .text_1 p{width:90%;font-size:3vw; line-height:5vw;margin:0px auto;}
    
    #container .con5 .text_1 .con5_1{font-size:4vw;font-weight:bold;margin-top:2vw;}
   
   
    #container .con6{width:90%;text-align:center;margin:150px auto;}
    #container .con6 .con6_1{margin-top:60px;display:flex;justify-content:space-between;flex-wrap:wrap;}
    #container .con6 .con6_1 li{width:49%;text-align:left;margin-bottom:15%;}
    #container .con6 .con6_1 li img{width:100%;}
    #container .con6 .text6 p{margin:20px 0px; font-size:3vw; color:#444;}
    #container .con6 .text6 h2{font-size:5.2vw;}
    #container .con6 .con6_1 li h4{ width:100%; font-size:2.7vw;margin:30px 0px;}
    #container .con6 .con6_1 li p{font-size:3vw; color:#777;}

     /*footer*/
     footer{width:100%; background:#f3f3f3;padding:10% 0px;}
     footer .text_f{width:90%;margin:0px auto;}
     footer .text_f span{font-weight:bold;}
     footer .text_f p{line-height:30px;font-size:2vw;}
     footer .text_f h5{font-size:2.2vw; color:#888;margin-bottom:5px;}
     footer .text_f a img{width:20px; margin:30px 0px;}
     footer h6{text-align:center; margin:100px 0px 0px;}



}